---
import '../styles/global.css';
import BaseLayout from  '../layouts/BaseLayout.astro';

---
<BaseLayout>

  <h1>My Astro Projects</h1>
    <p>This is where I will post about my journey learning Astro.</p>

</BaseLayout>